.table-style{
    width: 99%;
    border-collapse: collapse;
}

.table-style th{
    padding: 5px;
    text-align: center;
}

.table-style td{
    padding: 5px;
    text-align: center;
}

.top-border{
    border-top: 1px solid rgb(194, 194, 194);
}

.right-border{
    border-right: 1px solid rgb(194, 194, 194);
}

.options-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.options-container a{
    text-decoration: none;
}

.table-style-no-horizontal-overflow{
    width: 50%;
    border-collapse: collapse;
}

.table-style-no-horizontal-overflow th{
    padding: 5px;
    text-align: center;
}

.table-style-no-horizontal-overflow td{
    padding: 5px;
    text-align: center;
}

@media(min-width: 1368px){
    .table-style-no-horizontal-overflow{
        width: 50%;
    }
}

@media(max-width: 768px){
    .table-style-no-horizontal-overflow{
        width: 75%;
    }
    .table-style{
        display: block;
    }
}

@media (max-width: 500px){
    .table-style-no-horizontal-overflow{
        width: 99%;
    }
}